@keyframes colorChange {
    0% {
      background-color: yellow;
    }
    25% {
      background-color: orange;
    }
    50% {
      background-color: #ffa07a; /* Light orange */
    }
    75% {
      background-color: #ffd700; /* Gold */
    }
    100% {
      background-color: #ffdab9; /* Peach Puff */
    }
  }
  
  body {
    animation: colorChange 10s infinite;
  }